header{
    background-color: rgba(164, 113, 96, 0.274);
    color: black;
}

main{
    color: black;
    background-color: azure;
    display: flex;
    
   flex-direction: column;
   }

   img{
    align-self: center;
    width: 50vh;
   }

   footer {
    background-color: black;
   }