h1{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    
}

h2{
    color: azure;

}

header{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 35vh;
    color: white;
}
main{
    color: beige;
    background-color: black;
    height: 100vh;

}
footer{
    background-color: burlywood;
    height: 100vh;
}