h1{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    
}

h2{
    color: azure;
    
   
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 30vh;
    color: white;
}

p{

}